<section class="intel_wrapper">
  <h2>List of intelligence</h2>
  <ul id="intel_list">
    {{#each intels}}
      <li id="{{this.id}}">
        <h1>{{this.headline}}</h1>

        <p>{{this.content}}</p>
      </li>
    {{else}}
      <li>No intelligence published.</li>
    {{/each}}
  </ul>
</section>
