<!DOCTYPE html>
<html>
<head>
  <title>intelligence</title>
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href="/style/main.css">

</head>
<body>
<header></header>
<main>
  {{{body}}}
</main>
<footer></footer>
{{>(partial pageSpecificScript) }}
</body>
</html>
